<!DOCTYPE html>
<html lang="en">
<head>
<%- include('inc_head'); %>
  <title>Dashboard / IMAGEBOT</title>
</head>
<body>
  <!-- Header -->
<%- include('inc_header'); %>
  <!-- Main content -->
  <main role="main" class="container pt-4">
    <div class="jumbotron bg-white">
      <div id="page-content">
        <div>
          <h1 class="text-center"><i class="bi bi-speedometer text-danger"></i> Welcome to Dashboard, <%= firstName %>!</h1>
          <p class="text-center">What would you like to do today?</p>

          <div class="row">
            <div class="col-xl-6">
              <div class="card p-2 growsm">
                <div class="card-body">
                  <h3><i class="bi bi-images text-danger"></i> Imagesearch</h3>
                  <p>I want to search for new photos!</p>
                  <a href="/search" class="btn btn-primary grow">Go to <i class="bi bi-arrow-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="card p-2 growsm">
                <div class="card-body">
                  <h3><i class="bi bi-star-fill text-danger"></i> My favourites</h3>
                  <p>I want to look at my favourite photos!</p>
                  <a href="/favourites" class="btn btn-primary grow">Go to <i class="bi bi-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>
    </div>
  </main>

  <!-- Footer -->
<%- include('inc_footer'); %>

</body>
</html>
