<nav class="navbar navbar-expand-md navbar-light fixed-top bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="/dashboard">
        <img src="/logo.jpg" height="30" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search">Search images</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/favourites">My favourites</a>
          </li>
          <li class="pl-5 nav-item">
            <a class="btn btn-danger" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>