<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAIN / IMAGEBOT</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <div class="card">
        <div class="card-body">
            <img src="/logo.jpg"/>
            <h1>Welcome</h1>
            <p>You are now logged in.</p>
            <a class="btn btn-primary" href="/logout">Logout</a>        
        </div>
      </div>
</body>
</html>