<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('inc_head'); %>
    <title>Search / IMAGEBOT</title>
</head>
<body>
  <!-- Header -->
  <%- include('inc_header'); %>

  <!-- Main content -->
  <main role="main" class="container pt-4">
    <div class="jumbotron bg-white">
      <div id="page-content">
        <div>
          <h1><i class="bi bi-images text-danger"></i> Search images</h1>
        </div>
    </div>
    </div>
  </main>

  <!-- Footer -->
  <%- include('inc_footer'); %>
  
</body>
</html>