body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
}
.card-wrapper {
    max-width: 400px;
    width: 100%;
    padding: 20px;
}