@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root { 
  /* GENERAL */
  --bg-color: #fafafa;
  --text-color: #1a1a1a;
  --text-header-font: 'Poppins', Arial, Helvetica, sans-serif;
  --text-h1-size: 30px;
  --text-h2-size: 25px;
  --text-h3-size: 20px;
  --text-body-font: 'Poppins', Arial, Helvetica, sans-serif;
  --text-body-size: 16px;
  /* LINKS */
  --link-primary: #313131;
  --link-primary-hover: #dc3546;
  --link-primary-active: rgb(0, 0, 0);
  /* BUTTONS */
  /* --btn-primary: #cdb697; */
  --btn-primary-text: #ffffff;
  --btn-primary-hover: rgb(59, 88, 252);
  --btn-primary-hover-text: #ffffff;
  --btn-primary-border: rgba(126, 104, 255, 0.8);
  --btn-secondary-hover-text: #ffffff;
}

body {
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
    font-family: var(--text-body-font) !important;
    font-size: var(--text-body-size) !important;
    line-height: 1.5;
  }
    
  h1 {
    font-family: var(--text-header-font) !important;
    font-size: var(--text-h1-size) !important;
    margin-bottom: 20px !important;
  }
  h2 {
    font-family: var(--text-header-font) !important;
    font-size: var(--text-h2-size) !important;
    margin-bottom: 20px !important;
  }
  h3 {
    font-family: var(--text-header-font) !important;
    font-size: var(--text-h3-size) !important;
    margin-bottom: 20px !important;
  }

  a {
    color: var(--link-primary)!important;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;

  }
  
  a:hover {
    color: var(--link-primary-hover)!important;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  a:active {
    color: var(--link-primary-active)!important;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
  }


.btn-primary {
    /* background-color: var(--btn-primary)!important; */
    color: var(--btn-primary-text) !important;
    border-color: var(--btn-primary-border)!important; */
  }
  
  .btn-primary:hover {
    background-color: var(--btn-primary-hover)!important;
    color: var(--btn-primary-hover-text) !important;
    border-color: var(--btn-primary-border)!important;
  }

.btn { 
    /* top right bottom left */
    padding: 5px 12px 5px 12px;
    margin: 2px;
    text-transform: uppercase;
    font-weight: bold;

}

  .btn-danger {
    color: var(--btn-primary-text) !important;
  }

  .btn-danger:hover {
    color: var(--btn-primary-hover-text) !important;
  }

  .btn-warning {
    color: var(--btn-primary-text) !important;
  }

  .btn-warning:hover {
    color: var(--btn-primary-hover-text) !important;
  }

  .btn-secondary {
    color: var(--btn-primary-text) !important;
  }

  .btn-secondary:hover {
    color: var(--btn-primary-hover-text) !important;
  }

  .grow {
    transition: all .2s ease-in-out!important;
  }
  .grow:hover {
    transform: scale(1.2)!important;
  }
  
  .growsm {
    transition: all .2s ease-in-out!important;
  }
  .growsm:hover {
    transform: scale(1.1)!important;
  }